<div class="profile-container">
    <div class="profile-header">
      <h1>User Profile</h1>
    </div>
    <div class="profile-content">
      <div class="profile-image-container">
        <img class="profile-image" src="profile.png" alt="Profile Image">
      </div>
      <div class="profile-details">
        <h2>{{ 'Satyam sinha' }}</h2>
        <p><strong>Email:</strong> {{ user.email }}</p>
        <p><strong>Phone:</strong> {{ user.phone }}</p>
        <p><strong>Address:</strong> {{ user.address }}</p>
       
      </div>
    </div>
  </div>
  